<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Pokémon stats</title>
   <link rel="stylesheet" href="styles.css">
</head>
<body>
   <div class="full-content">
     <h1>Pokémon stats</h1>
     <div id="main-content">
        <div id="search-and-results">
           <input type="text" id="search" placeholder="Search Pokémon...">
           <div id="results">
           </div>
        </div>

        <div id="team"></div>
     </div>
   </div>

  <script src="/js/search.js"></script>
</body>
</html>
