<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Team</title>
   <link rel="stylesheet" href="styles.css">
</head>
<body>
   <div class="full-content">
      <h1>My Teams</h1>
      <a href="/">Browse Pokémon</a>
      <a href="/team">My Team</a>
      <div id="team"></div>
      <button onclick="saveTeam()">Save Team</button>
   </div>

   <script type='module' src='/js/teams.js'></script>
</body>
</html>
