* {
   --classic-red: #EE1515;
   --classic-blue: #003A70;
   --classic-yellow: #FFCB05;
   --classic-white: #FFFFFF;
   --classic-gray: #2D2D2D;
   --modern-navy: #1A2A3A;
   --modern-red: #FF3B30;
   --modern-yellow: #FFD60A;
   --modern-blue: #007AFF;
   --modern-green: #34C759;
   --modern-background-gray: #F2F2F7;
   --modern-mid-gray: #8E8E93;
   --modern-dark-gray: #2C2C2E;
   --modern-near-black: #1C1C1E;
}

h1, h2, h3, h4 {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   margin: 0;
   justify-content: center;
   align-items:center;
   background-color: var(--classic-gray);
}

.full-content {
   display: flex;
   background-color: var(--classic-white);
   flex-direction: column;
   width: 80%;
   align-items: center;
   border-radius: 32px;
}

/* type styling */
.type {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

#main-content {
   display: flex;
}

.large-img {
   height: 250px;
}

#search-and-results {
   display: flex;
   margin: 6px;
   flex-direction: column;
}

/* pokemon list styling */
.pokemon-list {
   width: 320px;
   height: 480px;
   overflow: auto;
}

.pokemon-list-types {
   display: flex;
   align-items: center;
   margin: 5px;
   gap: 5px;
   list-style-type: none;
   text-decoration: none;
}

.pokemon-card-clickable, .pokemon-team {
   display: flex;
   align-items: center;
   gap: 5px;
   border-radius: 20px;
   width: 300px;
   background-color: var(--modern-background-gray);
}

.pokemon-card-clickable:active, .pokemon-team:active {
   color: var(--classic-white);
   background-color: var(--modern-blue);
}

/* type colors */
.type.grass { background: #78C850; color: white; }
.type.fire { background: #F08030; color: white; }
.type.water { background: #6890F0; color: white; }
.type.bug { background: #A8B820; color: white; }
.type.normal { background: #A8A878; color: white; }
.type.poison { background: #A040A0; color: white; }
.type.electric { background: #F8D030; color: black; }
.type.ground { background: #E0C068; color: white; }
.type.fairy { background: #EE99AC; color: white; }
.type.fighting { background: #C03028; color: white; }
.type.psychic { background: #F85888; color: white; }
.type.rock { background: #B8A038; color: white; }
.type.ghost { background: #705898; color: white; }
.type.ice { background: #98D8D8; color: black; }
.type.dragon { background: #7038F8; color: white; }
.type.dark { background: #705848; color: white; }
.type.steel { background: #B8B8D0; color: white; }
.type.flying { background: #A890F0; color: white; }

/* selected pokemon info */
#selected-pokemon {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 350px;
   background-color: var(--modern-background-gray);
   border-radius: 32px;
   border: none;
   height: 400px;
}

#large-pokemon-display {
   display: flex;
   padding: 20px;
   flex-direction: column;
   align-items: center;
}

.selected-pokemon-text {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.select-buttons {
   display: flex;
   gap: 5px;
}

.select-buttons button {
   background-color: var(--modern-dark-gray);
   color: white;
   border-radius: 30px;
   width: 140px;
   border: none;
   transition: ease 0.2s;
}

.select-buttons button:hover {
   transform: translateY(-10%);
}

.pokeimg {
   height: 50px;
}

/* team styling */
#my-team {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 500px;
}

.team-list {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.team-wrapper {
   display: flex;
   justify-content: start;
   gap: 5px;
   align-items: center;
}

.pokemon-team {
   display: flex;
   justify-content: space-between;
   flex-grow: 1;
   padding: 5px;
   list-style-type: none;
   text-decoration: none;
}

.delete-from-team {
   border: none;
   border-radius: 30px;
   padding: 2px 5px 2px 5px;
   background-color: var(--modern-navy);
   color: var(--classic-white);
   transition: 0.2s ease;
}

.delete-from-team:hover {
   background-color: var(--modern-red);
   color: var(--classic-white);
}

@media (max-width: 820px) {
   .full-content {
      width: 100%;
   }
}
